body{
  padding: 0;
  margin: 0;
}
.nav{
  
  display: flex;
  flex-direction: row-reverse;
  background-color: #4e3797;
}

.nav-item{
    height: 25%;
}


.nav-list{
 
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 40%;
}
.list{

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  

}
.heder{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 500px; ;
  justify-content: center;
  align-items: center;
  background-image:url("Fk0mkYBXgAAyF1O.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  

}
.url-heder{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  padding: 25px 100px;
  border-radius: 30px;
  color: aliceblue;
  background-color: #54bbbd;
}
.mor{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid;
  padding: 12px 50px;
  border-radius: 30px;

}
.content-1{
  color: #4e3797;
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f4f7;
  

}
.c1-m{

}

.content-2{
  color: #4e3797;
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.content-3{
color: aliceblue;
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #4e3797;

}
.content-4{
  color: #4e3797;
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.content-5{
  color: #4e3797;
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f4f7;

}
.content-6{
color: aliceblue;
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #5bbec2;

}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.foot-2{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  
}
.foot-3{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
li{
list-style: none;
padding: 5px;
}
a{
  text-decoration: none;
  color: aliceblue;
}